<div class="modal-header">
    <h2><span class="glyphicon glyphicon-pencil small-glyph"></span> Bulk update of worklog</h2>
</div>
<div class="modal-body" shake-me>
    
    <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
        <button type="button" class="close" ng-click="clearAlerts()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <p>{{alert.message}}</p>
    </div>    
    
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="workload" class="col-sm-3 control-label">Query</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="query" ng-change="onQueryChange(form.query)" ng-model="form.query">
            </div>
        </div>
        <div class="form-group">
            <label for="project" class="col-sm-3 control-label">Expression</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="expression" ng-model="form.expression" />
            </div>
        </div>
        <div class="bg-info" style="padding: 15px;" ng-show="entriesAffected">
            <u>Hint</u>: <strong>{{entriesAffected}}</strong> worklog entries will be affected by this operation
        </div>
        <div class="bg-info" style="padding: 15px;" ng-show="entriesAffected==0">
            <u>Hint</u>: <strong>no</strong> worklog entries will be affected by this operation
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Update</button>
</div>      
