<div class="modal-header">
    <h2><span class="glyphicon glyphicon-pencil small-glyph"></span> Edit worklog entry</h2>
</div>
<div class="modal-body" shake-me>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="workload" class="col-sm-3 control-label">Workload</label>
            <div class="col-sm-6" ng-class="{'has-error': isInvalidWorkload(item.workload)}">
                <input type="text" class="form-control" id="workload" ng-model="item.workload">
            </div>
        </div>
        <div class="form-group">
            <label for="project" class="col-sm-3 control-label">Project</label>
            <div class="col-sm-6">
                <input disabled="disabled" type="text" class="form-control" id="project" ng-model="item.projectNames"/>
            </div>
        </div>
        <div class="form-group">
            <label for="employee" class="col-sm-3 control-label">Employee</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="employee" ng-model="item.employee" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-3 control-label">Date</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="date" ng-model="item.day" disabled="disabled">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Update</button>
</div>